{{> head }}
    {{> navbar }}
    <br>
    <br>
    <div class="row">
        <div class="col-8-lg">
            <h1>El que presento aqui, es mi cuerpo de mi sitio.</h1>
        </div>
        <div class="col-4-lg">
            <img src="assets/img/header.jpg" class="img-thumbnail" height="250px" width="450px">
        </div>
    </div>

   {{> footer }}